<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Preview • Pico CSS</title>
    <meta name="description" content="A pure HTML example, without dependencies." />

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    />
  </head>

  <body>
    <!-- Header -->
    <header class="container">
      <hgroup>
        <h1>GACKcon 2025 Schedule</h1>
        <p>Last updated 2025-02-07. Subject to change.</p>
      </hgroup>
    </header>
    <!-- ./ Header -->

    <!-- Main -->
    <main class="container">


      <section>
        <h2>Friday</h2>
        {% for p in schedule_data.friday%}
            <article id="article">
                <h3>{{ p.panel_name }}</h3>
                <p>{{ p.description }}</p>
                <footer>
                    <small>{{ p.time }} - Hosted by {{ p.hosted_by }}</small>
                </footer>
            </article>
        {% endfor %}
      </section>


      <section>
        <h2>Saturday</h2>
        {% for p in schedule_data.saturday%}
            <article id="article">
                <h3>{{ p.panel_name }}</h3>
                <p>{{ p.description }}</p>
                <footer>
                    <small>{{ p.time }} - Hosted by {{ p.hosted_by }}</small>
                </footer>
            </article>
        {% endfor %}
      </section>

        <section>
        <h3>Sunday</h3>
        {% for p in schedule_data.sunday%}
            <article id="article">
                <h2>{{ p.panel_name }}</h2>
                <p>{{ p.description }}</p>
                <footer>
                    <small>{{ p.time }} - Hosted by {{ p.hosted_by }}</small>
                </footer>
            </article>
        {% endfor %}
      </section>


    </main>
    <!-- ./ Main -->

    <!-- Footer -->
    <footer class="container">
      <small
        >Built by Carl •
        <a href="https://github.com/picocss/examples/blob/master/v2-html/index.html"
          >Source code</a
        ></small>
    </footer>
    <!-- ./ Footer -->
  </body>
</html>
